<fieldset>
  <legend>
    <h2> submit order </h2>
  </legend>
  <form required>
    <p>
      <input required type="number" placeholder="Enter Price To Charge" ngModel name="orderTotal" id="orderTotal">
    </p>
    <p>
      <input required placeholder="Enter Customer Name" ngModel name="name" id="name">
    </p>
    <p>
      <button (click)="submitOrder()" >Submit Order</button>
    </p>
  </form>
</fieldset>
<fieldset>
  <legend>
    <h2>Orders</h2>
  </legend>
  <ul>
    <li *ngFor="let order of orders">
      {{ order.name }} - ${{ order.price}}
    </li>
  </ul>
</fieldset>

<fieldset>
  <legend>
    <h2>Log</h2>
  </legend>
  <ul>
    <li *ngFor="let log of logs">
      {{ log }}
    </li>
  </ul>
</fieldset>
